.gradient {
    background: rgb(105,0,199);
    background: linear-gradient(210deg, rgba(105,0,199,1) 0%, rgb(0, 97, 242) 100%);
}

.skills-list {
    list-style-type: none;
}

.skills-list__item {
    background-image: url("../img/skills/check.svg");
    background-repeat: no-repeat;
}

.icon {
    width: 5rem;
    height: 5rem;
}

.portfolio__img {
    transition: transform 1s ease-in-out;
    transform: scale(1);
}

.portfolio__img:hover {
    transform: scale(.9);
}

.author:hover {
    color: #aab2ba !important;
}